.task1 body {
  background-color: white;
  color: #333333;
  font:
    1em / 1.4 Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  padding: 1em;
  margin: 0;
}

.task1 h1 {
  font-size: 2rem;
  margin: 0;
}

.task1 h2 {
  font-size: 1.6rem;
  margin: 0;
}

.task1 * {
  box-sizing: border-box;
}
.task1 h1, .task1 h2 {
  color: purple;
}

.task1 p {
  color: gray;
  margin: 0.5em 0;
}